#footer {
    background: #0b194d;
}
#footer a {
    color: white;
}
#header Img {
    width: 50px;
    height: 50px;
}
#main .carousel-inner img{
    max-height: 70vh;
    object-fit: cover;
    filter: grayscale(70%);

}
/* important "pase lo que pase, tiene que aparecer ese color*/
.text-platzi{
    color: #97c93e !important;
}